<p> <%= comment.name %> </p>
<p> <%= comment.body %> </p>


<p> <%= link_to 'Eliminar',
[comment.noticium, comment], method: :delete, class: "button", data: {confirm: 'Estás seguro de querer continuar?'}
%></p>
